.movies{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: repeat( auto-fill, 270px);  
  justify-content: center; */
}

.button{
  margin: 22px auto 80px;
  display: flex;
  align-items: center;
}

.button__button{
  border-radius: 6px;
  background: #F9F9F9;
  width: 320px;
  height: 36px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: opacity 1s linear;
}

.button__button:hover{
  opacity: 0.65;
}

@media screen and (max-width: 740px) {
  .movies{
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .button{
    margin-top: 26px;
  }
}